* {
  margin: 0;
  padding: 0;
}
  
.main-nav {
  background-color: rgb(113, 160, 240);
  height: 40px;
  display: flex;
  padding: 10px;
}

div a img {
  width: 30px;
}

.home {
  margin: 5px 20px 0px 30px;
  border: 2px solid rgb(89, 89, 219);
  border-radius: 10px;
  background-color: white;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.location {
  margin: 7px 20px 0px 30px;
}
.categories {
  margin: 5px 20px 0px 150px;
  border: 2px solid rgb(89, 89, 200);
  border-radius: 10px;
  background-color: white;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.search{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.searchBtn{
    width:5rem;
    height:5rem;
    position:absolute;
    display: grid;
    place-items: center;
    right: -1rem;
}
input {
  font-size: 25px;
  padding-left: 100px;
  text-align: center;
  border: 2px solid rgb(89, 89, 219);
  border-radius: 10px;
  margin-top:6px;

}
.login {
  margin: 7px 20px 0px 250px;
}

.cart {
  margin: -2px 20px 0px 20px;
}

.cart img {
  width: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

button {
  border-radius: 10px;
  font-size: 17px;
  padding: 7px 10px 7px 10px;
  text-align: center;
  border: 2px solid rgb(89, 89, 219);
  padding: 5px;
}

button:hover {
  cursor: pointer;
  color: blue;
}
